.calender-icon{
    position: absolute;
    left: 40px;
    top: 12px;
    transform: translateY(-50%);
    color: white;
}


.form-select.select-date{
    --bs-form-select-bg-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
    background-color: #44546B !important;
}

.export-btn{
    background: linear-gradient(90deg , #7F56D9 , #539BFF)
}

.sidebar-offcanvas{
    top: 70px !important;
    height: stretch;
}

.sidebar.soar{
    width: 260px;
    min-width: 260px;
    overflow: hidden;
    position: sticky;
    top: 70px;

    height: calc(100vh - 70px);

    background-image: url("../../../assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-right: 2px solid #2A3042;

    padding: 20px 15px;

    transition: 0.3s;

}


.sidebar.soar:hover{
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #606060 transparent;
}

/* collapsed like YouTube */
.sidebar.collapsed{
    width: 80px;
    min-width: 80px;
}

.sidebar.collapsed:hover{
    width: 95px;
    min-width: 95px;
}


.sidebar.soar::-webkit-scrollbar{
    width: 8px;
}

.sidebar.soar::-webkit-scrollbar-track{
    background: transparent;
}

.sidebar.soar::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 100px;
}

.sidebar.soar:hover::-webkit-scrollbar-thumb{
    background: #606060;
}

.sidebar.soar::-webkit-scrollbar-thumb:hover{
    background: #909090;
}



